body {
    margin: 0%;
    background-color: rgba(178, 250, 232, 0.603);
}

h1, h2, h3 {
    margin-bottom: 10px;
}

ul {
    margin-top: 0;
}

.container {
    padding: 0px;
    text-align: center;
}

.bgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(1.7px);
    z-index: -1; 
    background-image: url('https://www.everwallpaper.co.uk/cdn/shop/products/cartoon-cats-wallpaper-mural-plain.jpg?v=1640082595');
}

.header img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 200px;
    margin-top: 20px;
    top: 10px;
}

.header {
    margin-top: 150px;
    margin-bottom: 200px;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 5px 0 10px 5px rgba(21, 110, 105, 0.829);
    display: inline-block;
    flex-shrink: 0;
    align-items: stretch;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    background: rgba(180, 248, 153, 0.842);
    color: rgb(69, 218, 89);
    text-shadow: 4px 2px rgb(11, 65, 34);
    text-align: center;
    border-radius: 30px;
    border: 1px solid;
    padding: 1px;
    font-family: cursive;
}

.hello {
    font-size: 200%;
}

.click {
    font-size: 150%;
    font-family: monospace;
    color:rgba(3, 99, 19, 0.829);
    text-shadow: 2px 2px rgba(206, 224, 44, 0.74);
}

.header:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}



.info {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 5px 0 10px 5px rgba(21, 110, 105, 0.829);
    display: inline-block;
    flex-shrink: 0;
    align-items: stretch;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    background: rgb(194, 255, 192);
    color: black;
    text-align: center;
    border: 1px solid;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.profile img {
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid rgb(80, 13, 51);
    border-radius: 10px;
    margin-top: 60px;
    margin-right: 50px;
}



.profile {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px; /* Adjust max-width as needed */
    margin-left: auto;
    margin-right: auto;
    flex-basis: calc(50% - 10px); /* Adjust width of each profile info */
    margin-bottom: 20px;
}


.information {
    position: absolute;
    left: 43%;
    top: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 700px;
    margin-bottom: 10px; /* Add some bottom margin for separation */
}

.information p {
    flex-basis: calc(48% - 10px);
    margin: 3px 5px;
    text-align: left;

}

#name {
    margin-top: 70px;
}

#fjob {
   position: absolute;
   top: 8%;
   left: 43%;
}


.line {
    position: absolute;
    border: 1px solid rgb(105, 197, 121);
    width: 45%;
    left: 43%;
    top: 8%;
}
#aboutmee {
    color:  rgb(17, 82, 33);
    text-shadow: 3px 4px rgba(255, 254, 183, 0.815);
    font-weight: bolder;
    font-family: cursive;
    background: rgba(179, 224, 119, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#aboutmeinfo {
    text-align: justify;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

#aboutmeinfo h3 {
    margin: 0;
}


.skils {
    text-align: center;
}

#profskils {
    color:  rgb(17, 82, 33);
    text-shadow: 3px 4px rgba(255, 254, 183, 0.815);
    font-weight: bolder;
    font-family: cursive;
    background: rgba(179, 224, 119, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.ps {
    width: 40%;
    background-color: #739479;
    border-radius: 20px;
    margin-right: 100px;
    height: 20px;
    border: 1px groove #1d5c35;
}

#proskils {
    text-align: justify;
    box-sizing: border-box;
    padding-left: 500px;
    padding-right: 30px;
    
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3c253f;
    border-radius: 20px;
    height: 1px;
    border: 1px groove #1d5c35;
    align-items: left;
    font-size: 100%;
}

.illustrator {
    width: 85%;
    background-color: #7bfa9b;
}

.htmlcss {
    width: 30%;
    background-color: rgb(178, 250, 232);
}

.javascript {
    width: 15%;
    background-color: #ff96c2;
}



#educationn {
    color:  rgb(17, 82, 33);
    text-shadow: 3px 4px rgba(255, 254, 183, 0.815);
    font-weight: bolder;
    font-family: cursive;
    background: rgba(179, 224, 119, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#educationinfo {
    text-align: justify;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}


#experiencee {
    color:  rgb(17, 82, 33);
    text-shadow: 3px 4px rgba(255, 254, 183, 0.815);
    font-weight: bolder;
    font-family: cursive;
    background: rgba(179, 224, 119, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#experienceinfo {
    text-align: center;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

#awardss {
    color:  rgb(17, 82, 33);
    text-shadow: 3px 4px rgba(255, 254, 183, 0.815);
    font-weight: bolder;
    font-family: cursive;
    background: rgba(179, 224, 119, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#awardsinfo {
    text-align: justify;
    box-sizing: border-box;
    padding-left: 400px;
    padding-right: 30px;
}

#referencee {
    color:  rgb(17, 82, 33);
    text-shadow: 3px 4px rgba(255, 254, 183, 0.815);
    font-weight: bolder;
    font-family: cursive;
    background: rgba(179, 224, 119, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#referenceinfo {
    text-align: justify;
    box-sizing: border-box;
    padding-left: 400px;
    padding-right: 30px;
}