body {
    margin: 0%;
    background-image: url('https://www.everwallpaper.co.uk/cdn/shop/products/cartoon-cats-wallpaper-mural-plain.jpg?v=1640082595');
}

.container {
    padding: 0px;
    text-align: center;
}

.line {
    border: none;
    height: 2px;
    background-color: rgb(194, 255, 192);
}

#hello {
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 12px 4px rgba(17, 23, 112, 0.815);
    background-color: rgba(30, 121, 114, 0.534);
}

.headerline {
    border: none;
    height: 1px;
    background-color: pink;
}

.header {
    box-sizing: border-box;
    box-shadow: 0 0 12px 5px rgb(49, 9, 37);
    padding-bottom: 12px;
    justify-content: center;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    background-color: rgba(133, 48, 48, 0.7);
    font-family: 'Courier New', Courier, monospace;
    color:rgb(26, 0, 3);
}

.header img {
    width: 200px;
    height: 200px;
    text-align: center;
    border: 3px solid #61c794;
    border-radius: 125px;
    margin-top: 50px;
    margin-right: 50px;
}

.profile {
    margin-left: 20px;
    text-align: justify;
}

#name {
    font-family: cursive;
}

.ps {
    width: 40%;
    background-color: #4b393e;
    border-radius: 20px;
    margin-right: 100px;
    height: 20px;
    border: 1px groove #4d2125;
}

#proskils {
    font-size: 80%;
    font-weight: bolder;
    color:rgb(255, 213, 150)
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3c253f;
    border-radius: 20px;
    height: 1px;
    border: 1px groove #4d2125;
    align-items: left;
    font-size: 100%;
}

.illustrator {
    width: 85%;
    background-color: #7bfa9b;
}

.htmlcss {
    width: 30%;
    background-color: rgb(178, 250, 232);
}

.javascript {
    width: 15%;
    background-color: #ff96c2;
}

.layout {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 55px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}


#know {
    color: rgb(255, 255, 255);
    font-size: 70%;
    font-family: cursive;
    box-shadow: 3px 0 12px 4px rgba(17, 23, 112, 0.815);
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(29, 87, 72, 0.63);
}

.info {
    margin-top: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 5px 0 10px 5px rgba(21, 110, 105, 0.829);
    display: inline-block;
    flex-shrink: 0;
    align-items: stretch;
    flex-direction: row;
    position: relative;
    margin-right: 10px;
    flex-wrap: wrap;
    background: rgba(44, 128, 11, 0.603);
    color: black;
    text-align: center;
    border: 1px solid;
    padding: 150px;
    padding-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.aboutme {
    text-align: center;
    font-size: large;
}

#aboutmee {
    color: rgb(17, 82, 33);
    font-weight: bolder;
    font-family: cursive;
}

#aboutmeinfo {
    text-align: justify;
    box-sizing: border-box;
    background: rgba(252, 250, 163, 0.623);
    border: 1px solid rgb(194, 255, 192);
    padding: 20px;
}

#infoline {
    border: none;
    height: 2px;
    background-color: rgb(240, 0, 0);
}

.education {
    text-align: center;
}

#educationn {
    color: rgb(17, 82, 33);
    font-weight: bolder;
    font-family: cursive;
}

#educationinfo {
    text-align: justify;
    box-sizing: border-box;
    background: rgba(252, 250, 163, 0.623);
    border: 1px solid rgb(194, 255, 192);
    padding: 20px;
}

.experience {
    text-align: center;
}

#experiencee {
    color: rgb(17, 82, 33);
    font-weight: bolder;
    font-family: cursive;
}

#experienceinfo {
    text-align: center;
    box-sizing: border-box;
    background: rgba(252, 250, 163, 0.623);
    border: 1px solid rgb(194, 255, 192);
    padding: 20px;
}

.hobbies {
    text-align: center;
}

#hobbiess {
    color: rgb(17, 82, 33);
    font-weight: bolder;
    font-family: cursive;
}

#hobbiesinfo {
    text-align: justify;
    box-sizing: border-box;
    background: rgba(252, 250, 163, 0.623);
    border: 1px solid rgb(194, 255, 192);
    padding: 20px;
}